.hidden {
    display: none;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    width: 400px;
    height: 200px;
    padding: 20px;
}
